useDynLib(Sieve, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(sieve_preprocess)
export(sieve_solver)
export(sieve_predict)
export(GenSamples)
#' @importFrom combinat permn
importFrom("stats", "coef", "quantile", "rnorm", "runif", "rbinom")
importFrom("glmnet", "glmnet")
importFrom("utils", "combn")
importFrom("methods", "is")